
#visual {
    background:BLUE;
    width:1200px;
    height:400px;
    color:#fff;
    font-size: 50px;
    margin: 200px auto;
    text-align: center;
    line-height: 400px;
    font-weight: bold;
}